div.tooltip-inner {
    max-width: 500px;
}

.job-status {
    display: none;
}

.state-bar {
    width: 50px;
    height: 5px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
    border: 1px solid darkgrey;
}

.workflow-table {
    font-size: 12px;
    margin-bottom: 0px;
}

.toolbar {
    margin-bottom: 10px;
}

.tag-box {
    margin-bottom: 10px;
}
