div.tooltip-inner {
    max-width: 500px;
}

.job-status {
    display: none;
}

.state-bar {
    width: 50px;
    height: 5px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
    border: 1px solid darkgrey;
}

.workflow-table {
    font-size: 10px;
    margin-bottom: 0px;
}

.toolbar {
    margin-bottom: 10px;
}

.tag-box {
    margin-bottom: 10px;
}

.custom-form-control{
    display: block;
    width: 100%;
    height: 24px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.context-menu-item.icon {
    min-height: 18px;
    background-repeat: no-repeat;
    background-position: 4px 2px;
    background-size: 16px;
}

.context-menu-item.icon-create-ed {
    background-image: url('../../../doosan/icons/create-ed.svg');
    background-size: 18px;
}

.context-menu-item.icon-create-folder {
    background-image: url('../../../doosan/icons/create-folder.svg');
    background-size: 14px;
}

.context-menu-item.icon-delete-item {
    background-image: url('../../../doosan/icons/delete-item.svg');
    background-size: 12px;
}

.context-menu-item.icon-pick-ed {
    background-image: url('../../../doosan/icons/pick-ed.svg');
    background-size: 18px;
}
.form-group{
    margin-bottom: 5px;
}